In [1]:
import pandas as pd

In [2]:
df_desempleo = pd.read_csv("unemployment.csv")
df_natalidad = pd.read_csv("births.csv")

In [11]:
df_desempleo.head(10)

,Year,Month,District Code,District Name,Neighborhood Code,Neighborhood Name,Gender,Demand_occupation,Number
0,2017,January,1,Ciutat Vella,1,el Raval,Male,Registered unemployed,2107
1,2017,January,1,Ciutat Vella,2,el Barri Gòtic,Male,Registered unemployed,538
2,2017,January,1,Ciutat Vella,3,la Barceloneta,Male,Registered unemployed,537
3,2017,January,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Male,Registered unemployed,741
4,2017,January,2,Eixample,5,el Fort Pienc,Male,Registered unemployed,630
5,2017,January,2,Eixample,6,la Sagrada Família,Male,Registered unemployed,1032
6,2017,January,2,Eixample,7,la Dreta de l'Eixample,Male,Registered unemployed,655
7,2017,January,2,Eixample,8,l'Antiga Esquerra de l'Eixample,Male,Registered unemployed,751
8,2017,January,2,Eixample,9,la Nova Esquerra de l'Eixample,Male,Registered unemployed,1128
9,2017,January,2,Eixample,10,Sant Antoni,Male,Registered unemployed,847

In [12]:
df_natalidad.head(10)

,Year,District Code,District Name,Neighborhood Code,Neighborhood Name,Gender,Number
0,2017,1,Ciutat Vella,1,el Raval,Boys,283
1,2017,1,Ciutat Vella,2,el Barri Gòtic,Boys,56
2,2017,1,Ciutat Vella,3,la Barceloneta,Boys,51
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Boys,90
4,2017,2,Eixample,5,el Fort Pienc,Boys,117
5,2017,2,Eixample,6,la Sagrada Família,Boys,207
6,2017,2,Eixample,7,la Dreta de l'Eixample,Boys,185
7,2017,2,Eixample,8,l'Antiga Esquerra de l'Eixample,Boys,176
8,2017,2,Eixample,9,la Nova Esquerra de l'Eixample,Boys,218
9,2017,2,Eixample,10,Sant Antoni,Boys,172